/**{
  border: 1px solid purple;
}*/

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.center {
  display: block;
  text-align: center;
}

.back {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.main_image {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 400px;
}

/*.next {
  display: block;
  margin: auto;
  width: 30%;
}*/

.little_images{
  display: block;
  margin: auto;
  padding: 0 auto;
}

.thumbnail{
  /*float:right;*/
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 40px;
  height: 40px;
  text-align: center;
}
/*
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}*/

/*.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
submitLink:focus {
  outline: none;
}*/
