*{
  color: black;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1em;
}

.center {
  display: block;
  text-align: center;
}

.back {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.main_image {
  display: block;
  margin: auto;
  width: 70%;
  max-width: 400px;
}

/*.next {
  display: block;
  margin: auto;
  width: 30%;
}*/

.little_images{
  display: inline-block;
  margin: 20 auto;
  padding: 0 auto;
}

.thumbnail{
  /*float:right;*/
  display: inline-block;
  margin-top: -25px;
  margin: 0 auto;
  padding: 0 auto;
  width: 45px;
  height: 45px;
  text-align: center;
}

.vertical-container {
  margin: 10px;
  height: 40px;
  display: -webkit-flex;
  display:         flex;
  /*-webkit-align-items: center;
          align-items: center;*/
  -webkit-justify-content: center;
          justify-content: center;
}