<nav class="center">
  <a class="back" href="#">
    <i class="fa fa-arrow-circle-left" aria-hidden="true">
    </i>
  </a>
  <a href="">
    <i class="fa fa-home" aria-hidden="true">
    </i>
  </a>
</nav>
